html {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 55px 0 0 0;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
}

#nav-bar li {
    display: inline;
    padding: 2px 30px;
    text-align: center;
}

#nav-bar li a:hover {
    background-color: grey;
}

#nav-bar li a {
    text-decoration: none;
    color: white;
}

#nosotros {
    font-size: 25px;
    background-color: black;
    padding: 85px 63px 60px 60px;
    text-align: center;
    float: left;
}

#servicios,
#info_contacto {
    font-size: 25px;
    background-color: black;
    padding: 60px 60px 60px 60px;
    text-align: center;
}

#div_fotoCamion {
    background-image: url(../images/camion.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-position-y: 17px;
    overflow: hidden;
    float: left;
}

#division {
    height: 400px;
    width: 100%;
}

#div_fotoCamion,
#nosotros {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

#info_contacto {
    text-align: left;
}

#tef {
    margin: 14% 12%;
    height: 200px;
    max-width: 75%;
    padding: 8% 0%;
    text-align: center;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.75);
}


/* #nav-bar {
    margin: -8px;
} *